// Variables
$white: #fff
$accent1: #506a85
$accent2: #a3b1bf
$accent3: #73879c
$accent4: #f5f7fa
$accent5: #e6e9ed
$grey-bg: #f2f5f7
$footer1: #2f4052
$footer2: #283645
$footer-copy: #707e8c
$footer-form: #4e5c6c
$inner-box-shadow: 0 -.125rem 0 0 rgba(0, 0, 0, .15) inset
$highlight-copy-shadow: 0 -.0625rem 0 .0625rem rgba(230, 233, 237, 1) inset
$mega-menu-shadow: 0 .625rem .625rem 0 rgba(0, 0, 0, .1)

$lato: 'Lato', sans-serif

$phone: 30rem //480px
$tablet: 50rem //800px
$laptop: 72.5rem //1160px
$full: 75rem //1200px

@mixin flex2col
  display: flex
  flex-direction: column
  justify-content: space-between
  @media (min-width: $tablet)
    flex-direction: row

@mixin button
  font-weight: bold
  text-transform: uppercase
  background-color: $accent1
  box-shadow: $inner-box-shadow


html
  box-sizing: border-box

*
  padding: 0
  margin: 0
  box-sizing: inherit

  &::before,
  &::after
    box-sizing: inherit

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
  display: block

body
  font-family: 'Source Sans Pro', sans-serif
  font-size: 16px
  background-color: $white

  .container
    margin-right: auto
    margin-left: auto
    padding-right: 1.25rem
    padding-left: 1.25rem

    @media (min-width: $full)
      width: $laptop
      padding-right: 0
      padding-left: 0


  .content
    padding-top: 1.875rem
    padding-bottom: 1.875rem

    @media (min-width: $tablet)
      padding-top: 3.75rem
      padding-bottom: 3.75rem


    h2
      margin-bottom: 2.5rem
      font-family: $lato
      font-size: 2.75rem
      font-weight: bold
      line-height: 3.375rem
      color: $accent1

    h3
      font-family: $lato
      font-size: 1.625rem
      font-weight: bold
      line-height: 2.125rem
      color: $accent1

    p
      font-size: 1.375rem
      line-height: 2.125rem
      color: $accent1

.hidden
  display: none
