.footer-widgets
  padding-top: 1.25rem
  padding-bottom: 1.25rem
  background-color: $footer1

  .container
    display: flex
    flex-direction: column
    justify-content: space-between

    @media (min-width: $laptop)
      flex-direction: row


  .footer-widget
    width: 100%

    @media (min-width: $laptop)
      width: 22%


    .widget-title
      font-family: $lato
      font-size: 1rem
      font-weight: bold
      line-height: 1.375rem
      color: $white

    .widget
      font-size: .875rem
      line-height: 1.375rem
      color: $accent2

    a
      color: $accent2

  .footer-1

    span
      margin-left: .625rem

  .footer-2
    img
      margin-bottom: .3125rem

    .even
      margin-left: .3125rem

  .footer-3

    span
      margin-right: .625rem

.footer-menu
  padding-top: 2.188rem
  text-align: center
  color: $footer-copy
  background-color: $footer2

  @media (min-width: $phone)
    padding-top: 0
    line-height: 5.125rem

  @media (min-width: $laptop)
    text-align: left


  .container
    display: flex
    justify-content: space-between

  .menu
    padding: 2.188rem 0

    @media (min-width: $phone)
      padding: 0


    li
      display: inline-block
      padding-left: .625rem
      list-style-type: none

      &::before
        content: '·'

      &:first-child
        padding-left: 0

        &::before
          content: none

      a
        padding-left: .625rem
        color: $footer-copy
        text-decoration: none

        &:hover
          color: $white
          transition-duration: .5s
          transition-timing-function: ease
