.contact-form
  margin: 1.875rem 0 3.75rem
  padding: 1.25rem
  border: .0625rem solid $accent1

  .nf-form-fields-required
    margin-bottom: .625rem

  .nf-element
    padding: .625rem

  .nf-field-element
    margin: 0 auto

    .contact-submit
      @include button
      display: block
      margin: 0 auto
      font-size: 1rem
      color: $white
      border: 0

.footer-widgets

  .nf-form-fields-required
    display: none

  .nf-form-content
    overflow-y: auto
    padding: .75rem
    background-color: $footer-form
    border-radius: .25rem

    .nf-field-element
      width: auto

    .nf-input-limit
      margin-top: 0

    .email-container
      float: left
      width: 60%
      margin-bottom: 0

      .footer-input
        font-size: .875rem
        line-height: 2.063rem
        color: $accent2
        background-color: transparent
        border: 0

    .submit-container
      float: right
      clear: none
      margin-bottom: 0

      .footer-submit
        @include button
        padding: .625rem
        font-size: .8125rem
        line-height: 1
        color: $white
        border: 0
        border-radius: .25rem
