header
  display: flex
  flex-direction: column-reverse
  color: $accent1
  font-size: .875rem

  @media (min-width: $phone)
    flex-direction: column


.header-contact
  line-height: 2.5rem
  background-color: $accent4
  border-bottom: .0625rem solid $accent5

  .container
    @include flex2col

    @media (min-width: $phone)
      flex-direction: row


  a
    color: $accent1

    &:hover
      color: $accent2
      text-decoration: none

  .contact
    text-align: center

    @media (min-width: $tablet)
      text-align: left


    .email
      margin-right: .5rem

  .header-social
    margin: 0
    padding-left: 0
    text-align: center
    list-style-type: none

    @media (min-width: $tablet)
      text-align: left


    .social
      display: inline-block

      svg
        width: .75rem
        height: .75rem
        margin: 0 .625rem
        fill: $accent1

      &:hover
        background-color: $accent2

        svg
          fill: $white


.header-menu
  padding: 1rem 0
  border-bottom: .0625rem solid $accent5

  .container
    @include flex2col

    @media (min-width: $phone)
      flex-direction: row


    .logo
      display: block
      margin: 0 auto
      max-width: 9.375rem

      @media (min-width: $phone)
        margin: 0


  .menu
    margin: .625rem 0 0
    padding: 0
    text-align: center

    @media (min-width: $phone)
      margin: 0
      text-align: left


    .menu-item
      line-height: 1.125rem
      list-style-type: none
      border: .0625rem solid $white

      &:hover
        text-decoration:  none
        border: .0625rem solid $accent5
        background-color: $accent4
        transition-duration: .5s
        transition-timing-function: ease

      @media (min-width: $phone)
        float: left
        line-height: 4.25rem


      a
        color: $accent1
        font-size: .9375rem
        line-height: 1.375rem
        font-weight: bold
        text-decoration: none
        text-transform: uppercase

        @media (min-width: $phone)
          padding: 1.25rem .8125rem
          line-height: 1

        @media (min-width: $laptop)
          padding: 1.25rem 1.438rem


      .active
        z-index: 6
        position: relative
        color: $accent1
        text-decoration: none
        border-top: .0625rem solid $accent5
        border-right: .0625rem solid $accent5
        border-left: .0625rem solid $accent5
        background-color: $accent4
