@mixin slides-h2
  padding-bottom: 30px
  font-family: $lato
  font-size: 24px
  font-weight: 900
  line-height: 34px
  text-transform: uppercase
  color: $white

  @media (min-width: $laptop)
    font-size: 78px
    line-height: 88px

@mixin slides-p
  margin-bottom: 60px
  font-size: 18px
  line-height: 22px
  color: $accent1
  text-align: center

  @media (min-width: $laptop)
    font-size: 24px
    line-height: 33px



header
  .owl-item

    h2
      @include slides-h2

    p
      @include slides-p

    .cta
      padding: 25px 70px
      color: $white
      font-size: 18px
      font-weight: bold
      line-height: 1
      text-transform: uppercase
      background-color: $accent1
      border: 0
