.home-section

  h2
    margin-bottom: 1.875rem

  p
    font-size: 1.125rem
    line-height: 1.5

.sub-sections
  display: flex
  flex-direction: column
  justify-content: space-between

  @media (min-width: $laptop)
    flex-direction: row


  h3
    margin-top: 0

.section-1
  margin-top: 3rem
  text-align: center

  @media (min-width: $laptop)
    margin-top: 7.188rem


  p
    max-width: 48.13rem
    margin: 0 auto

  .sub-sections
    margin-top: 3.75rem
    margin-bottom: 3.75rem
    text-align: left

    .sub-section
      width: 100%
      padding: 1.25rem 0

      @media (min-width: $laptop)
        width: 32%
        padding: 0


      img
        display: block
        width: 5rem
        height: auto
        margin: 0 auto .625rem

        @media (min-width: $laptop)
          float: left


      h3
        text-align: center

        @media (min-width: $laptop)
          float: right
          width: 70%
          text-align: left


      p
        font-size: 1rem
        line-height: 1.563rem
        text-align: center

        @media (min-width: $laptop)
          float: right
          width: 70%
          text-align: left


.section-2
  padding: 6.563rem 0 7.813rem
  text-align: center
  background-color: $grey-bg

  @media (min-width: $laptop)
    padding: 6.875rem 0 7.813rem


  .sub-sections
    margin: 5rem 0 0
    justify-content: space-between

    img
      width: 100%

    .highlight-copy
      padding: 2.188rem .625rem 1.875rem
      background-color: $white
      border-right: .0625rem solid $accent5
      border-left: .0625rem solid $accent5
      box-shadow: $highlight-copy-shadow

    .first
      margin-bottom: 1.25rem

      @media (min-width: $laptop)
        margin-bottom: 0


.section-3
  padding: 8.125rem 0
  text-align: center

  p
    max-width: 48.13rem
    margin: 0 auto

  button
    @include button
    margin-top: 2.625rem
    padding: 1.25rem 1.688rem
    font-size: .9375rem
    color: $white

    &:hover
      background-color: $accent2

    a
      color: $white
      text-decoration: none
